{# empty Twig template #}
{% extends "::adminTemplate.html.twig" %}
{% block title %}Telebet User{%endblock%}
{% block stylesheets %}

{% endblock %}

{% block body %}
<h2>{{'LBL_TELEBETUSER_EDIT_USER'|translate}}</h2><br>      
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">    
            <form method="post" action="{{path('admin_add_edit_telebet_user')}}">
                <input type="hidden" name="edit" />
                <div class="row">    
                    <div class="col-md-6 col-sm-6 col-xs-12">    
                        <div class="form-group">
                          <label for="videoUrl">{{'LBL_TELEBETUSER_USERNAME'|translate}}</label>
                          <input type="text" class="form-control cleanup" name="username" value="{{data.username}}" required />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="display: none;">
                        <div class="form-group">
                          <label for="device">{{'LBL_TELEBETUSER_BALANCE'|translate}}</label>
                          <input type="text" class="form-control number" name="balance" value="{{data.balance}}" required />
                        </div>
                    </div>    
                    <div class="col-md-6 col-sm-6 col-xs-12">    
                        <div class="form-group">
                          <label for="device">{{'LBL_TELEBETUSER_PASSWORD'|translate}}</label>
                          <input type="password" class="form-control cleanup" name="password" placeholder="{{'LBL_TELEBETUSER_PASSWORD_PLACEHOLDER_NEW'|translate}}" value="">
                        </div>
                    </div>  
                </div>
                <div class="row">
                   <div class="col-md-6 col-sm-12 col-xs-12"> 
                       <input type="hidden" name="id" value="{{data.id}}">
                       <button type="submit" class="btn btn-primary">{{'LBL_TELEBETUSER_SAVE_CHANGES'|translate}}</button>
                       <a class="btn btn-default" href="{{path('admin_telebet_user')}}">{{'LBL_TELEBETUSER_CLOSE'|translate}}</a>
                   </div>
                </div>    
            </form>
        </div>
    </div>
{% endblock %}{# empty Twig template #}

{% block javascript %}
<script>
    (function($) {
    $(document).ready(function() {
        $('input.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
    });
})(jQuery);

$(".number").on("input", function(evt) {
   var self = $(this);
   self.val(self.val().replace(/[^0-9\.]/g, ''));
   if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) 
   {
     evt.preventDefault();
   }
 });
</script>    
{% endblock %}