{% extends "::adminTemplate.html.twig" %}
{% block title %}Blocklist IP Address{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>{{'LBL_BLACKIP_ADD_NEW'|translate}}</h3>
  </div>

</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_content">

              <div class="col-sm-12">
                  {% for flashMessage in app.session.flashbag.get('success') %}
              <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ flashMessage }}
              </div>
              {% endfor %}
              </div>        

              {% for flashMessage in app.session.flashbag.get('error') %}
              <!-- Saved message -->
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {% for item in flashMessage %}
                      {{ item.message }}<br/>
                  {% endfor %}
              </div>
              {% endfor %}
               <!-- start form for validation -->
              <form method="POST" action="{{path('admin_add_ip_address_blacklist_process')}}">
              <input type="hidden" name="new">
              <div class="row"> 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row"> 
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="name">{{'LBL_BLACKIP_IP_FROM'|translate}}</label>
                                <input type="text" id="name" class="form-control cleanup allow_decimal" name="ipfrom" value="" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="description">{{'LBL_BLACKIP_IP_TO'|translate}}</label>
                                <input type="text" id="description" class="form-control cleanup allow_decimal" name="ipto" value="" required/>
                            </div>
                        </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">{{'LBL_BLACKIP_SAVE'|translate}}</button>
                    <a href="{{path('admin_ip_address_blacklist')}}" class="btn btn-default">{{'LBL_BLACKIP_CLOSE'|translate}}</a>
                    </div>
                </div>
              </div>
             </form>
          </div>      

        </div>       
      </div>
    </div>
</div>

<!-- End Modal -->
{% endblock %}

{% block javascript %}
<script>
    (function($) {
    $(document).ready(function() {
        $('input.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
        $('textarea.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
    });
})(jQuery);

$(".allow_decimal").on("input", function(evt) {
   var self = $(this);
   self.val(self.val().replace(/[^0-9\.]/g, ''));
   if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) 
   {
     evt.preventDefault();
   }
 });
</script>    
{% endblock %}