{% extends "::adminTemplate.html.twig" %}
{% block title %}Back-end Translation{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>{{'LBL_BACK_ADD_TRANSLATION'|translate}}</h3>
  </div>

</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_content">

              <div class="col-sm-12">
                  {% for flashMessage in app.session.flashbag.get('danger') %}
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ flashMessage }}
              </div>
              {% endfor %}
              </div>        

              {% for flashMessage in app.session.flashbag.get('error') %}
              <!-- Saved message -->
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {% for item in flashMessage %}
                      {{ item.message }}<br/>
                  {% endfor %}
              </div>
              {% endfor %}
               <!-- start form for validation -->
              <form method="POST" action="{{path('admin_back_translation_save')}}">
              <input type="hidden" name="new">
              <div class="row"> 
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row"> 
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="code">{{'LBL_BACK_CODE'|translate}}</label>
                                <input type="text" id="code" class="form-control cleanup" name="code" value="" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="category">{{'LBL_BACK_CATEGORY'|translate}}</label>
                                <input type="text" id="category" class="form-control cleanup" name="category" value="" required/>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="translation"><img width="25px;" style="margin-right: 5px;" src="{{ asset('images/flags') }}/en.png"/>{{'LBL_BACK_ENGLISH_TRANSLATION'|translate}}</label>
                                <input type="text" id="en" class="form-control cleanup" name="en" value=""  required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="translation"><img width="25px;" style="margin-right: 5px;" src="{{ asset('images/flags') }}/cn.png"/>{{'LBL_BACK_CHINESE_TRANSLATION'|translate}}</label>
                                <input type="text" id="cn" class="form-control cleanup" name="cn" value=""  required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="translation"><img width="25px;" style="margin-right: 5px;" src="{{ asset('images/flags') }}/kr.png"/>{{'LBL_BACK_KOREAN_TRANSLATION'|translate}}</label>
                                <input type="text" id="kr" class="form-control cleanup" name="kr" value=""  required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="translation"><img width="25px;" style="margin-right: 5px;" src="{{ asset('images/flags') }}/jp.png"/>{{'LBL_BACK_JAPANESE_TRANSLATION'|translate}}</label>
                                <input type="text" id="jp" class="form-control cleanup" name="jp" value=""  required/>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">{{'LBL_BACK_SAVE'|translate}}</button>
                    <a href="{{path('admin_back_translation')}}" class="btn btn-default">{{'LBL_BACK_CLOSE'|translate}}</a>
                    </div>
                </div>
              </div>
             </form>
          </div>      

        </div>       
      </div>
    </div>
</div>

<!-- End Modal -->
{% endblock %}

{% block javascript %}
<!-- Datatables -->
<script src="{{ asset('template/vendors') }}/datatables.net/js/jquery.dataTables.min.js"></script>
<!-- Datatables -->
<script>
    var video_details_url = "{{path('admin_video_url_details',{'slug':'1'})}}";
</script>
<script>
(function($) {
    $(document).ready(function() {
        $('input.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
        $('textarea.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
    });
})(jQuery);
</script>
{% endblock %}