{% extends "::adminTemplate.html.twig" %}
{% block title %}Table Result Summary{%endblock%}
{% block stylesheets %}
<style>
.banker_class{
    background: #ffcccc;
}
.player_class{
    background: #cce6ff;
}
</style>

{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>{{'LBL_SUMMARY_TABLE_RESULT_SUMMARY'|translate}}</h3>
  </div>

</div>

<div class="clearfix"></div>

  <div class="row">
    <div class="col-lg-7 col-md-7 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
              <h2>{{'LBL_SUMMARY_FILTER'|translate}}</h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width:0px;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
             <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        
                     <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 filter-label">{{'LBL_SUMMARY_SELECT_HALL'|translate}}</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" id="sl_hall" name="sl_hall">
                            <option value="all" {%if post.hall =='all'%}selected{%endif%}>{{'LBL_SUMMARY_ALL'|translate}}</option>
                            <option value="1" {%if post.hall ==1%}selected{%endif%}>{{'LBL_SUMMARY_MAIN_HALL'|translate}}</option>
                            <option value="2" {%if post.hall ==2%}selected{%endif%}>{{'LBL_SUMMARY_MAIN_HALL_VIP'|translate}}</option>
                            <option value="3" {%if post.hall ==3%}selected{%endif%}>{{'LBL_SUMMARY_INTERNATIONAL_HALL'|translate}}</option>
                          </select>
                        </div>
                      </div>
                     <div class="form-group">
                         <label class="col-md-3 col-sm-3 col-xs-12 filter-label">{{'LBL_SUMMARY_SHOE_COUNT'|translate}}</label>
                         <div class="col-md-6 col-sm-6 col-xs-12">
                             <select class="form-control" id="sl_shoe" name="sl_shoe">
                                 <option value="0" {%if post.shoe =='0'%}selected{%endif%}>All</option>
                                 {% for re in reset %}
                                     <option value="{{ re.numberOfReset }}" {%if post.shoe == re.numberOfReset %}selected{%endif%}>{{ re.numberOfReset }}</option>
                                 {% endfor %}
                             </select>
                         </div>
                     </div>
                      <div class="form-group" style="display: none;">
                        <label class="col-md-3 col-sm-3 col-xs-12 filter-label">{{'LBL_SUMMARY_TABLE'|translate}}</label>
                        <div class="col-md-6 col-sm-6 col-xs-12 tbl_select">
                          <select class="form-control" id="sl_table" name="sl_table">
                        
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 filter-label" for="last-name">{{'LBL_SUMMARY_DATE_FROM'|translate}}
                        </label>
                        <div class="control-group">
                                <div class="controls">
                                  <div class="col-md-5 col-sm-5 col-xs-12 xdisplay_inputx form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" id="dateFrom" placeholder="Date From" aria-describedby="inputSuccess2Status4" maxlength="10">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>

                                  </div>
                                </div>

                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-3" style="width: 200px;">
                          <div class="col-lg-6"> 
                            <select class="form-control" name="hourFrom">
                              {% for i in 00..23 %}
                                    {{i|length}}
                                  {%if i|length==1 %}
                                      <option value="{{'0'~i}}">{{'0'~i}}</option>   
                                  {%else%}
                                      <option value="{{i}}">{{i}}</option> 
                                  {%endif%}
                              {% endfor %}
                            </select>
                          </div>
                          <div class="col-lg-6" style="padding-top: 8px;">
                            <label>:00:00</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-3 filter-label" for="last-name">{{'LBL_SUMMARY_DATE_TO'|translate}}
                        </label>
                        <div class="control-group">
                            <div class="controls">
                              <div class="col-md-5 col-sm-5 col-xs-12 xdisplay_inputx form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" id="dateTo" placeholder="Date To" aria-describedby="inputSuccess2Status4" maxlength="10">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                
                              </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-3" style="width: 200px;">
                          <div class="col-lg-6"> 
                            <select class="form-control" name="hourTo">
                              {% for i in 00..23 %}
                                    {{i|length}}
                                  {%if i|length==1 %}
                                      <option value="{{'0'~i}}" {%if post.hour_from == '0'~i %}selected{%endif%}>{{'0'~i}}</option>   
                                  {%else%}
                                      <option value="{{i}}" {%if post.hour_from == i %}selected{%endif%}>{{i}}</option> 
                                  {%endif%}
                              {% endfor %}
                            </select>
                          </div>
                          <div class="col-lg-6" style="padding-top: 8px;">
                            <label>:59:59</label>
                          </div>
                        </div>
                         
                      </div>
                      
                      
                      
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary btnSubmit">{{'LBL_SUMMARY_SUBMIT'|translate}}</button>
                          <button class="btn btn-primary btnToday">{{'LBL_SUMMARY_TODAY'|translate}}</button>
                          <button class="btn btn-primary btnYesterday">{{'LBL_SUMMARY_YESTERDAY'|translate}}</button>
                        </div>
                      </div>

                    </div>
                    
                    <form id="frmFilter" method="POST" action="{{path('admin_summary_result')}}">
                        <input type="hidden" name="btn_function">
                        <input type="hidden" name="fltr_hall">
                        <input type="hidden" name="fltr_table">
                        <input type="hidden" name="shoe">
                        <input type="hidden" name="fltr_date_from">
                        <input type="hidden" name="fltr_date_to">
                        <input type="hidden" name="fltr_hour_from">
                        <input type="hidden" name="fltr_hour_to">
                    </form>
            </div>
        </div>
    </div>
</div>  
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="table-responsive">
                  <p class="text-muted font-13 m-b-30 text-right" style="display: none;">
                      <a type="button" class="btn btn-primary" href="{{path('admin_video_url_new')}}">Add new Table</a>
                  </p>
                  <table id="datatable" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>{{'LBL_SUMMARY_ID'|translate}}</th>
                        <th>{{'LBL_SUMMARY_CODE'|translate}}</th>
                        <th>{{'LBL_SUMMARY_NAME'|translate}}</th>
                        <th>{{'LBL_SUMMARY_HALL'|translate}}</th>
                        <th>{{'LBL_SUMMARY_SHOE_COUNT'|translate}}</th>
                        <th>{{'LBL_SUMMARY_BANKER'|translate}}</th>
                        <th>{{'LBL_SUMMARY_PLAYER'|translate}}</th>
                        <th>{{'LBL_SUMMARY_TIE'|translate}}</th>
                        <th>{{'LBL_SUMMARY_BANKER_PAIR'|translate}}</th>
                        <th>{{'LBL_SUMMARY_PLAYER_PAIR'|translate}}</th>
                      </tr>
                    </thead>

                    <tbody>
                     {{data|raw}}
                    </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

{% endblock %}

{% block javascript %}
<!-- Datatables -->
<script src="{{ asset('template/vendors') }}/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="{{ asset('template/vendors') }}/jszip/dist/jszip.min.js"></script>
<script src="{{ asset('template/vendors') }}/pdfmake/build/pdfmake.min.js"></script>
<script src="{{ asset('template/vendors') }}/pdfmake/build/vfs_fonts.js"></script>
<!-- Datatables -->
<script>
    var get_card_result_url = "{{path('admin_player_banker_result')}}";
    var get_table_url = "{{path('admin_table_by_hall')}}";
    var table_selected = "{{post.table}}";
    var dateFrom = "{{post.date_from}}";
    var dateTo = "{{post.date_to}}";
    var hourFrom = "{{post.hour_from}}";
    var hourTo = "{{post.hour_to}}";
    
    var copy = "{{'LBL_SUMMARY_COPY'|translate}}";
    var csv = "{{'LBL_SUMMARY_CSV'|translate}}";
    var excel = "{{'LBL_SUMMARY_EXCEL'|translate}}";
    var print = "{{'LBL_SUMMARY_PRINT'|translate}}";
    var search = "{{'LBL_DATATABLE_SEARCH'|translate}}";
    var previous = "{{'LBL_DATATABLE_PREVIOUS'|translate}}";
    var next = "{{'LBL_DATATABLE_NEXT'|translate}}";
    var showing = "{{'LBL_DATATABLE_SHOWING'|translate}}";
    var to = "{{'LBL_DATATABLE_TO'|translate}}";
    var of = "{{'LBL_DATATABLE_OF'|translate}}";
    var entries = "{{'LBL_DATATABLE_ENTRIES'|translate}}";
    var empty = "{{'LBL_DATATABLE_EMPTY'|translate}}";
    var show = "{{'LBL_DATATABLE_SHOW'|translate}}";
    var empty_record = "{{'LBL_DATATABLE_EMPTY_RECORD'|translate}}";
</script>
<script src="{{ asset('js') }}/summary_result.js"></script>

<script>
    function limitText(field, maxChar){
    $(field).attr('maxlength',maxChar);
}
</script>
{% endblock %}