<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CodeEric | {% block title %}{%endblock%}</title>

  <!-- Bootstrap -->
  <link href="{{ asset('template/vendors') }}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{{ asset('template/vendors') }}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="{{ asset('template/vendors') }}/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="{{ asset('template/vendors') }}/iCheck/skins/flat/green.css" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="{{ asset('template/vendors') }}/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- JQVMap -->
  <link href="{{ asset('template/vendors') }}/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
  <!-- Additional CSS -->
  <link href="{{ asset('template') }}/css/style.css" rel="stylesheet"/>



  <!-- Datatables -->
  <link href="{{ asset('template/vendors') }}/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="{{ asset('template/vendors') }}/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="{{ asset('template/vendors') }}/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="{{ asset('template/vendors') }}/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="{{ asset('template/vendors') }}/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
  <!-- Custom Theme Style -->
  <link href="{{ asset('template/build') }}/css/custom.min.css" rel="stylesheet">
  <link rel="icon" sizes="36x36" href="{{ asset('images') }}/icon-36x36.png">
  {% block stylesheets %}{% endblock %}
</head>

<body id="body" class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">

          <a class="site_title"><img style="width: 40px;height:25px;margin-top: -5px;margin-right: 5px;" src="{{ asset('template/images') }}/ce.png"/><span>{{'LBL_MAIN_ADMIN_PANEL'|translate}}</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
          <div class="profile_pic">
            <img src="{{ path('admin_user_image',{'init': app.session.get('initial'),'id':app.session.get('id')}) }}" alt="..." style="border: none; padding: 1px;" class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>{{'LBL_MAIN_WELCOME'|translate}},</span>
            <h2>{{app.session.get('fname')}} {{app.session.get('lname')}}</h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <div style="margin-top: 70px;border-bottom: 1px solid #ddd;"></div>
            <ul class="nav side-menu">
              <li  class="{% if 'dashboard' in app.session.get("page_id") == true %}active{% endif %}">
                <a href="{{path('admin_dashboard')}}"><i class="fa fa-home"></i> {{'LBL_MAIN_DASHBOARD'|translate}} </a>
              </li>

              <li class="{% if 'tableSetting' in app.session.get("page_id") == true %}active{% endif %}">
                <a href="{{path('admin_table_setting')}}"><i class="fa fa-gears"></i> {{'LBL_MAIN_TABLE_SETTING'|translate}} </a>
              </li>

              <li><a><i class="fa fa-table"></i> {{'LBL_MAIN_RESULT'|translate}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{{path('admin_summary_result')}}">{{'LBL_MAIN_RESULT_SUMMARY'|translate}} </a>
                  </li>
                  <li><a href="{{path('admin_detailed_result')}}">{{'LBL_MAIN_RESULT_DETAILED'|translate}}</a></li>
                </ul>
              </li>

              <li class="{% if 'video' in app.session.get("page_id") == true %}active{% endif %}">
                <a href="{{path('admin_video')}}"><i class="fa fa-file-video-o"></i> {{'LBL_MAIN_VIDEO_URL'|translate}} </a>
              </li>

              <li class="{% if 'black_list' in app.session.get("page_id") == true %}active{% endif %}">
                <a><i class="fa fa-thumbs-o-down"></i> {{'LBL_MAIN_BLACKLIST'|translate}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{{path('admin_device_black')}}">{{'LBL_MAIN_BLACKLIST_DEVICE'|translate}}</a></li>
                  <li><a href="{{path('admin_ip_address_blacklist')}}">{{'LBL_MAIN_BLACKLIST_IP'|translate}}</a></li>
                </ul>
              </li>

              <li>
                <a><i class="fa fa-gear" class="{% if 'othersetting' in app.session.get("page_id") == true %}active{% endif %}"></i> {{'LBL_MAIN_OTHER_SETTINGS'|translate}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{{path('admin_api_server')}}">{{'LBL_MAIN_API_SERVER'|translate}}</a></li>
                  <li><a href="{{path('admin_device_type')}}">{{'LBL_MAIN_DEVICE_TYPE'|translate}}</a></li>
                </ul>
              </li>

              <li>
                <a><i class="fa fa-language" {% if 'translation' in app.session.get("page_id") == true %}active{% endif %}></i> {{'LBL_MAIN_TRANSLATION'|translate}} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li {% if 'translation' in app.session.get("page_id") == true %}active{% endif %}><a href="{{path('admin_front_translation')}}">{{'LBL_MAIN_FRONT_END'|translate}}</a></li>
                  <li {% if 'translation' in app.session.get("page_id") == true %}active{% endif %}><a href="{{path('admin_back_translation')}}">{{'LBL_MAIN_BACK_END'|translate}}</a></li>
                </ul>
              </li>

              <li class="{% if 'admin_user' in app.session.get("page_id") == true %}active{% endif %}">
                <a a href="{{path('admin_user')}}"><i class="fa fa-user"></i> {{'LBL_MAIN_ADMIN_USERS'|translate}} </a>
              </li>

              <li class="{% if 'telebet_user' in app.session.get("page_id") == true %}active{% endif %}">
                <a a href="{{path('admin_telebet_user')}}"><i class="fa fa-users"></i> {{'LBL_MAIN_TELEBET_USER'|translate}}</a>
              </li>

              <li class="{% if 'audit_trail' in app.session.get("page_id") == true %}active{% endif %}">
                <a a href="{{path('admin_audit_trail')}}"><i class="fa fa-list"></i> {{'LBL_MAIN_AUDIT_TRAIL'|translate}}</a>
              </li>

              <li class="{% if 'login_history' in app.session.get("page_id") == true %}active{% endif %}">
                <a><i class="fa fa-sign-in"></i> {{'LBL_MAIN_LOGIN_HISTORY'|translate}}<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{{path('admin_login_history_webapp')}}">{{'LBL_MAIN_WEB_APP'|translate}}</a></li>
                  <li><a href="{{path('admin_login_history_nativeapp')}}">{{'LBL_MAIN_NATIVE_APP'|translate}}</a></li>
                </ul>
              </li>

            </ul>
          </div>


        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="{{'LBL_MAIN_API_SERVER'|translate}}" href="{{ path('admin_api_server') }}">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="{{'LBL_MAIN_FULLSCREEN'|translate}}" class="fullscreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="{{'LBL_MAIN_EXIT_FULLSCREEN'|translate}}" onclick="exitFullscreen();">
            <span class="fa fa-compress" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="{{'LBL_MAIN_LOGOUT'|translate}}" href="{{path('admin_login_account_logout')}}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>

          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="{{ path('admin_user_image',{'init': app.session.get('initial'),'id':app.session.get('id')}) }}" alt="">{{app.session.get('fname')}} {{app.session.get('lname')}}
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a href="{{path('admin_user_profile')}}"> {{'LBL_MAIN_PROFILE'|translate}}</a></li>
                {#<li>
                  <a href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                  </a>
                </li>
                <li><a href="javascript:;">Help</a></li>#}
                <li><a href="{{path('admin_login_account_logout')}}"><i class="fa fa-sign-out pull-right"></i> {{'LBL_MAIN_LOGOUT'|translate}}</a></li>
              </ul>
            </li>

            <li role="presentation" class="dropdown">
              <div style="margin-top:32px;">
                <center>
                  <div id="lang">
                    <ul id="lang_lanjian">
                      <li><a class="chooseLang" data-lang="en" ><img width="30px;" class="{% if app.request.cookies.get('lan')=='en' %}lang-selected{% endif %}"  src="{{ asset('images/flags') }}/en.png"></a></li>
                      <li><a class="chooseLang" data-lang="cn" ><img width="30px;" class="{% if app.request.cookies.get('lan')=='cn' %}lang-selected{% endif %}" src="{{ asset('images/flags') }}/cn.png"></a></li>
                      <li><a class="chooseLang" data-lang="kr" ><img width="30px;" class="{% if app.request.cookies.get('lan')=='kr' %}lang-selected{% endif %}" src="{{ asset('images/flags') }}/kr.png"></a></li>
                      <li><a class="chooseLang" data-lang="jp" ><img width="30px;" class="{% if app.request.cookies.get('lan')=='jp' %}lang-selected{% endif %}" src="{{ asset('images/flags') }}/jp.png"></a></li>
                    </ul>
                  </div>
                </center>
              </div>

            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      {% block body %}{% endblock %}
    </div>
    <!-- /page content -->

    <!-- footer content -->
    {# <footer>
       <div class="pull-right">

       </div>
       <div class="clearfix"></div>
     </footer>#}
    <!-- /footer content -->
  </div>
</div>
<form  id="loginform" name="loginform" method="POST" action="{{path('admin_login_change_lan')}}">
  <input type="hidden" name="dash" id="dash">
  <input type="hidden" name="chooselan" id="chooselan" value="">
</form>
<!-- jQuery -->
<script src="{{ asset('template/vendors') }}/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="{{ asset('template/vendors') }}/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="{{ asset('template/vendors') }}/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="{{ asset('template/vendors') }}/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="{{ asset('template/vendors') }}/Chart.js/dist/Chart.min.js"></script>

<!-- bootstrap-progressbar -->
<script src="{{ asset('template/vendors') }}/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="{{ asset('template/vendors') }}/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="{{ asset('template/vendors') }}/skycons/skycons.js"></script>
<!-- Flot -->
<script src="{{ asset('template/vendors') }}/Flot/jquery.flot.js"></script>
<script src="{{ asset('template/vendors') }}/Flot/jquery.flot.pie.js"></script>
<script src="{{ asset('template/vendors') }}/Flot/jquery.flot.time.js"></script>
<script src="{{ asset('template/vendors') }}/Flot/jquery.flot.stack.js"></script>
<script src="{{ asset('template/vendors') }}/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="{{ asset('template/js') }}/flot/jquery.flot.orderBars.js"></script>
<script src="{{ asset('template/js') }}/flot/date.js"></script>
<script src="{{ asset('template/js') }}/flot/jquery.flot.spline.js"></script>
<script src="{{ asset('template/js') }}/flot/curvedLines.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="{{ asset('template/js') }}/moment/moment.min.js"></script>
<script src="{{ asset('template/js') }}/datepicker/daterangepicker.js"></script>

{% block javascript %}{% endblock %}


<!-- Custom Theme Scripts -->
<script src="{{ asset('template/build') }}/js/custom.min.js"></script>


<!-- Flot -->
<script>
  $(document).ready(function() {
    var data1 = [
      [gd(2012, 1, 1), 17],
      [gd(2012, 1, 2), 74],
      [gd(2012, 1, 3), 6],
      [gd(2012, 1, 4), 39],
      [gd(2012, 1, 5), 20],
      [gd(2012, 1, 6), 85],
      [gd(2012, 1, 7), 7]
    ];

    var data2 = [
      [gd(2012, 1, 1), 82],
      [gd(2012, 1, 2), 23],
      [gd(2012, 1, 3), 66],
      [gd(2012, 1, 4), 9],
      [gd(2012, 1, 5), 119],
      [gd(2012, 1, 6), 6],
      [gd(2012, 1, 7), 9]
    ];
    $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
      data1, data2
    ], {
      series: {
        lines: {
          show: false,
          fill: true
        },
        splines: {
          show: true,
          tension: 0.4,
          lineWidth: 1,
          fill: 0.4
        },
        points: {
          radius: 0,
          show: true
        },
        shadowSize: 2
      },
      grid: {
        verticalLines: true,
        hoverable: true,
        clickable: true,
        tickColor: "#d5d5d5",
        borderWidth: 1,
        color: '#fff'
      },
      colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
      xaxis: {
        tickColor: "rgba(51, 51, 51, 0.06)",
        mode: "time",
        tickSize: [1, "day"],
        //tickLength: 10,
        axisLabel: "Date",
        axisLabelUseCanvas: true,
        axisLabelFontSizePixels: 12,
        axisLabelFontFamily: 'Verdana, Arial',
        axisLabelPadding: 10
      },
      yaxis: {
        ticks: 8,
        tickColor: "rgba(51, 51, 51, 0.06)",
      },
      tooltip: false
    });

    function gd(year, month, day) {
      return new Date(year, month - 1, day).getTime();
    }
  });
</script>
<!-- /Flot -->



<!-- Skycons -->
<script>
  $(document).ready(function() {
    var icons = new Skycons({
              "color": "#73879C"
            }),
            list = [
              "clear-day", "clear-night", "partly-cloudy-day",
              "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
              "fog"
            ],
            i;

    for (i = list.length; i--;)
      icons.set(list[i], list[i]);

    icons.play();
  });
</script>
<!-- /Skycons -->



<!-- bootstrap-daterangepicker -->
<script>
  $(document).ready(function() {
    $(".chooseLang").click(function() {
      var $self = $(this);
      var lan = $self.attr('data-lang');
      $('#chooselan').val(lan);
      $('#loginform').submit();
    });
    requestFullScreen(document.body);
  });

  $('.fullscreen').click(function(){
    //launchIntoFullscreen(document.documentElement);
    requestFullScreen(document.body);
  });

  function requestFullScreen(element) {
    // Supports most browsers and their versions.
    var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

    if (requestMethod) { // Native full screen.
      requestMethod.call(element);
    } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
      var wscript = new ActiveXObject("WScript.Shell");
      if (wscript !== null) {
        wscript.SendKeys("{F11}");
      }
    }
  }
  // Find the right method, call on correct element
  function launchIntoFullscreen(element) {
    var docElm = document.documentElement;
    if (docElm.requestFullscreen) {
      docElm.requestFullscreen();
    }
    else if (docElm.mozRequestFullScreen) {
      docElm.mozRequestFullScreen();
    }
    else if (docElm.webkitRequestFullScreen) {
      docElm.webkitRequestFullScreen();
    }
    else if (docElm.msRequestFullscreen) {
      docElm.msRequestFullscreen();
    }
  }
  // Whack fullscreen
  function exitFullscreen() {
    if(document.exitFullscreen) {
      document.exitFullscreen();
    } else if(document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else if(document.webkitExitFullscreen) {
      document.webkitExitFullscreen();
    }
  }

  function checkFullscreen(){
    var isFull = '';
    document.addEventListener("fullscreenchange", function () {
      isFull = (document.fullscreen)? "yes" : "not";
    }, false);

    document.addEventListener("mozfullscreenchange", function () {
      isFull = (document.mozFullScreen)? "yes" : "not";
    }, false);

    document.addEventListener("webkitfullscreenchange", function () {
      isFull = (document.webkitIsFullScreen)? "yes" : "not";
    }, false);

    document.addEventListener("msfullscreenchange", function () {
      isFull = (document.msFullscreenElement)? "yes" : "not";
    }, false);


  }

</script>

<script>
   $MENU_TOGGLE.on('click', function() {
     var menuStateKey = "menu.toggle_nav.state";

         if($BODY.hasClass('nav-md')){
           localStorage.setItem('menu.toggle_nav.state', 'true');
         }
         else{
           localStorage.setItem('menu.toggle_nav.state', 'false');
         }

   });
    var menuStateKey = "menu.toggle_nav.state";
    var state = localStorage.getItem(menuStateKey);

    if (state === 'false') {
       $SIDEBAR_MENU.find('li.active ul').hide();
       $SIDEBAR_MENU.find('li.active').addClass('active-sm').removeClass('active');
    } if(state === 'true') {
      $SIDEBAR_MENU.find('li.active-sm ul').show();
      $SIDEBAR_MENU.find('li.active-sm').addClass('active').removeClass('active-sm');
      $BODY.toggleClass('nav-md nav-sm');
      setContentHeight();
    }
</script>
<!-- /bootstrap-daterangepicker -->


</body>
</html>
