<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CodeEric | Login</title>

    <!-- Bootstrap -->
    <link href="{{ asset('template/vendors') }}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('template/vendors') }}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('template/vendors') }}/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('template/build') }}/css/custom.min.css" rel="stylesheet">
    <!-- Additional CSS -->
    <link href="{{ asset('template') }}/css/style.css" rel="stylesheet"/>
    <link rel="icon" sizes="36x36" href="{{ asset('images') }}/icon-36x36.png">
  </head>

  <body class="login">
  <div class="front">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        
        <div class="animate form login_form">
          <div class="login-form-header">{{'LBL_MAIN_ADMIN_PANEL'|translate}}</div>
          <section class="login_content">
           <form method="POST" action="{{path('admin_login_check_account')}}">
              
              <div>
                  <center>
		    <div id="lang">
		        <ul id="lang_lanjian">
		          <li><a id="en" class="chooseLang" data-lang="en" ><img class="{% if app.request.cookies.get('lan')=='en' %}lang-selected{% endif %}" width="30px;" title="English" alt="English" src="{{ asset('images/flags') }}/en.png"></a></li>
		          <li><a id="cn" class="chooseLang" data-lang="cn" ><img class="{% if app.request.cookies.get('lan')=='cn' %}lang-selected{% endif %}" width="30px;" title="à¹„à¸—à¸¢" alt="à¹„à¸—à¸¢" src="{{ asset('images/flags') }}/cn.png"></a></li>	          
		          <li><a class="chooseLang" data-lang="kr" ><img class="{% if app.request.cookies.get('lan')=='kr' %}lang-selected{% endif %}" width="30px;" title="Tiáº¿ng Viá»‡t" alt="Tiáº¿ng Viá»‡t" src="{{ asset('images/flags') }}/kr.png"></a></li>
		     	  <li><a class="chooseLang" data-lang="jp" ><img class="{% if app.request.cookies.get('lan')=='jp' %}lang-selected{% endif %}" width="30px;" title="ä¸­æ–‡ç®€ä½“" alt="ä¸­æ–‡ç®€ä½“" src="{{ asset('images/flags') }}/jp.png"></a></li>	          
		     	</ul>
		    </div>                
              </div><br/><br/>
              <div>
                <input type="text" name="email" class="form-control" placeholder="{{'LBL_USERNAME'|translate}}" required="" />
              </div>
              <div>
                <input type="password" name="password" class="form-control" placeholder="{{'LBL_PASSWORD'|translate}}" required="" />
              </div>
              <div>
                <input class="btn btn-block submit" style="opacity: 10!important;" type="submit" value="{{'LBL_LOGIN'|translate}}" />
                
              </div>

                <div class="clearfix"></div>
                <br />
                 {% if error is defined %}
                <div class="alert alert-block alert-danger fade in">
                    {{ error }}
                </div>
                {%endif%}
                <div style="font-size: 11px;">
                  <p>©2016 {{'LBL_ALL_RIGHTS'|translate}}</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        
          </section>
        </div>
    
    
    <form  id="loginform" name="loginform" method="POST" action="{{path('admin_login_change_lan')}}">
        <input type="hidden" name="log" id="log">
	<input type="hidden" name="chooselan" id="chooselan" value="">
    </form>
    <video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">
    {#<source src="polina.webm" type="video/webm">#}
    <source src="{{ asset('video') }}/Casino.mp4" type="video/mp4">
</video>  </div>
    <script src="{{ asset('template/vendors') }}/jquery/dist/jquery.min.js"></script>
    <script>
        $(".chooseLang").click(function(){
            var $self = $(this);
            var lan = $self.attr('data-lang');
            $('#chooselan').val(lan);
            $('#loginform').submit();
    
        });
        
        if(document.cookie.split(';')[0].substring(4, 6) == "cn"){
            $("#cn img").addClass("lang-selected");
        }

        
        var vid = document.getElementById("bgvid"),
        pauseButton = document.getElementById("vidpause");
        function vidFade() {
            vid.classList.add("stopfade");
        }
        vid.addEventListener('ended', function() {
            // only functional if "loop" is removed 
             vid.pause();
                // to capture IE10
                vidFade();
        });
        pauseButton.addEventListener("click", function() {
            vid.classList.toggle("stopfade");
                if (vid.paused) {
        vid.play();
                        pauseButton.innerHTML = "Pause";
                } else {
                vid.pause();
                pauseButton.innerHTML = "Paused";
                }
        });
        
    </script>
  </body>
</html>