{# empty Twig template #}
{% extends "::adminTemplate.html.twig" %}
{% block title %}Admin User{%endblock%}
{% block stylesheets %}

{% endblock %}

{% block body %}
<h2>{{'LBL_USERS_EDIT_USER_INFO'|translate}}</h2><br>      
    <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">    
    <form method="post" action="{{path('admin_user_add_edit')}}">
        <input type="hidden" name="edit" />
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="table">{{'LBL_USERS_FIRST_NAME'|translate}}</label>
          <input type="text" class="form-control" name="fname" value="{{data.fname}}" required />
        </div>
    </div>  
    <div class="col-md-6 col-sm-6 col-xs-12">    
        <div class="form-group">
          <label for="videoUrl">{{'LBL_USERS_LAST_NAME'|translate}}</label>
          <input type="text" class="form-control" name="lname" value="{{data.lname}}" required />
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">    
        <div class="form-group">
          <label for="device">{{'LBL_USERS_EMAIL'|translate}}</label>
          <input type="email" class="form-control" name="email" value="{{data.email}}" required />
        </div>
    </div>    
    <div class="col-md-6 col-sm-6 col-xs-12">    
        <div class="form-group">
          <label for="device">{{'LBL_USERS_CHANGE_PASSWORD'|translate}}</label>
          <input type="password" class="form-control" name="password" placeholder="{{'LBL_USERS_NEW_PASSWORD'|translate}}" value="">
        </div>
    </div>    
        <input type="hidden" name="id" value="{{data.id}}">
        <button type="submit" class="btn btn-primary">{{'LBL_USERS_SAVE_CHANGES'|translate}}</button>
        <a class="btn btn-default" href="{{path('admin_user')}}">{{'LBL_USERS_CLOSE'|translate}}</a>
    </form>
    </div>
    </div>
{% endblock %}{# empty Twig template #}
