{# empty Twig template #}
{% extends "::adminTemplate.html.twig" %}
{% block title %}Admin User{%endblock%}
{% block stylesheets %}

{% endblock %}

{% block body %}
    
    <h2>{{'LBL_USERS_ADD_NEW_USER'|translate}}</h2><br> 
    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form method="POST" action="{{path('admin_user_add_edit')}}">
                    <input type="hidden" name="new"/>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{'LBL_USERS_FIRST_NAME'|translate}}</label>
                                        <input type="text" class="form-control" name="fname" placeholder="{{'LBL_USERS_FIRST_NAME_PLACEHOLDER'|translate}}" required />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{'LBL_USERS_LAST_NAME'|translate}}</label>
                                        <input type="text" class="form-control" name="lname" placeholder="{{'LBL_USERS_LAST_NAME_PLACEHOLDER'|translate}}" required />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{'LBL_USERS_EMAIL'|translate}}</label>
                                        <input type="email" class="form-control" name="email" placeholder="{{'LBL_USERS_EMAIL_PLACEHOLDER'|translate}}" required />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>{{'LBL_USERS_PASSWORD'|translate}}</label>
                                        <input type="password" class="form-control" name="password" placeholder="{{'LBL_USERS_PASSWORD_PLACEHOLDER'|translate}}" value="">
                                    </div>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-primary">{{'LBL_USERS_SAVE'|translate}}</button>
                            <a href="{{path('admin_user')}}" class="btn btn-default">{{'LBL_USERS_CLOSE'|translate}}</a>
                        </div>
                    </div>
            </div>
            </form>
        </div>

    </div>
    </div>
{% endblock %}{# empty Twig template #}
