{% extends "::adminTemplate.html.twig" %}
{% block title %}Admin User{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{'LBL_USERS_ADMIN_USER'|translate}} <small></small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
                             {{ flashMessage }}
                        </div>
                        {% endfor %}

                          <div id="alert" class="alert alert-success hidden">
                              {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
                              <p class="msg"></p>
                          </div>
                    
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <p class="text-muted font-13 m-b-30 text-right">
                                    <a href="{{path('admin_user_add')}}"><button type="button" data-toggle="modal" class="btn btn-primary" data-target=".new-user">{{'LBL_USERS_ADD_NEW_USER'|translate}}</button></a>
                                </p>
                            <table id="datatable" class="table table-striped dt-responsive" cellspacing="0" width="100%">
                              <thead>
                                <tr>
                                      <th></th>
                                      <th>{{'LBL_USERS_EMAIL'|translate}}</th>
                                      <th>{{'LBL_USERS_FIRST_NAME'|translate}}</th>
                                      <th>{{'LBL_USERS_LAST_NAME'|translate}}</th>
                                      <th>{{'LBL_USERS_STATUS'|translate}}</th>
                                      <th>{{'LBL_USERS_LAST_DATE_LOGIN'|translate}}</th>
                                      <th>{{'LBL_USERS_ACTIONS'|translate}}</th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                {{result|raw}}
                              </tbody>
                            </table>
                          </div>
                      </div>      
                      
                  </div>       
                </div>
              </div>
           </div> 
   

{% endblock %}{# empty Twig template #}

{% block javascript %}
<!-- Datatables -->
<script src="{{ asset('template/vendors') }}/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="{{ asset('template/vendors') }}/jszip/dist/jszip.min.js"></script>
<script src="{{ asset('template/vendors') }}/pdfmake/build/pdfmake.min.js"></script>
<script src="{{ asset('template/vendors') }}/pdfmake/build/vfs_fonts.js"></script>

<!-- Datatables -->
<script src="{{ asset('js') }}/bootbox.min.js"></script>
<script>
    var delete_url = "{{path('admin_user_delete')}}";
    var delete_msg = "{{'LBL_USERS_DELETE_MESSAGE'|translate}}";
    var delete_ok = "{{'LBL_USERS_DELETE_OK'|translate}}";
    
    var copy = "{{'LBL_SUMMARY_COPY'|translate}}";
    var csv = "{{'LBL_SUMMARY_CSV'|translate}}";
    var excel = "{{'LBL_SUMMARY_EXCEL'|translate}}";
    var print = "{{'LBL_SUMMARY_PRINT'|translate}}";
    var search = "{{'LBL_DATATABLE_SEARCH'|translate}}";
    var previous = "{{'LBL_DATATABLE_PREVIOUS'|translate}}";
    var next = "{{'LBL_DATATABLE_NEXT'|translate}}";
    var showing = "{{'LBL_DATATABLE_SHOWING'|translate}}";
    var to = "{{'LBL_DATATABLE_TO'|translate}}";
    var of = "{{'LBL_DATATABLE_OF'|translate}}";
    var entries = "{{'LBL_DATATABLE_ENTRIES'|translate}}";
    var empty = "{{'LBL_DATATABLE_EMPTY'|translate}}";
    var show = "{{'LBL_DATATABLE_SHOW'|translate}}";
    var empty_record = "{{'LBL_DATATABLE_EMPTY_RECORD'|translate}}";

    var delete_message_success = "{{'LBL_USERS_DELETE_SUCCESS'|translate}}";

    $('.alert').fadeIn('fast').delay(4000).fadeOut('slow');
</script>
<script src="{{ asset('js') }}/userAdmin.js"></script> 
{% endblock %}