{% extends "::adminTemplate.html.twig" %}
{% block title %}Device Type{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>{{'LBL_DEVICE_UPDATE_DEVICE'|translate}}</h3>
  </div>

</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_content">

              <div class="col-sm-12">
                  {% for flashMessage in app.session.flashbag.get('success') %}
              <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ flashMessage }}
              </div>
              {% endfor %}
              </div>        

              {% for flashMessage in app.session.flashbag.get('error') %}
              <!-- Saved message -->
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {% for item in flashMessage %}
                      {{ item.message }}<br/>
                  {% endfor %}
              </div>
              {% endfor %}
               <!-- start form for validation -->
              <form method="POST" action="{{path('admin_device_type_add_edit')}}">
              <input type="hidden" name="edit">
              <input type="hidden" name="id" value="{{type.id}}">
              <div class="row"> 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row"> 
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="name">{{'LBL_DEVICE_NAME'|translate}}</label>
                                <input type="text" id="name" class="form-control cleanup" name="name" value="{{type.name}}" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="description">{{'LBL_DEVICE_DESCRIPTION'|translate}}</label>
                                <input type="text" id="description" class="form-control cleanup" name="description" value="{{type.description}}" required/>
                            </div>
                        </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">{{'LBL_DEVICE_SAVE_CHANGES'|translate}}</button>
                    <a href="{{path('admin_device_type')}}" class="btn btn-default">{{'LBL_DEVICE_CLOSE'|translate}}</a>
                    </div>
                </div>
              </div>
             </form>
          </div>      

        </div>       
      </div>
    </div>
</div>

<!-- End Modal -->
{% endblock %}
 
{% block javascript %}
    <script>
    (function($) {
    $(document).ready(function() {
        $('input.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
    });
})(jQuery);
</script>
{% endblock %}