{% extends "::adminTemplate.html.twig" %}
{% block title %}Front-end Translation{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>Edit {{lang}} Translation</h3>
  </div>

</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_content">

              <div class="col-sm-12">
                  {% for flashMessage in app.session.flashbag.get('success') %}
              <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ flashMessage }}
              </div>
              {% endfor %}
              </div>        

              {% for flashMessage in app.session.flashbag.get('error') %}
              <!-- Saved message -->
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {% for item in flashMessage %}
                      {{ item.message }}<br/>
                  {% endfor %}
              </div>
              {% endfor %}
               <!-- start form for validation -->
              <form method="POST" action="{{path('admin_update_front_translation')}}">
              <input type="hidden" name="lan" value="{{lan}}"/>
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="code">{{'LBL_FRONT_CODE'|translate}}</label>
                                    <input type="hidden" id="code" class="form-control" name="code" value="{{code}}" />
                                    <input type="text" id="code1" class="form-control" name="code1" value="{{code}}" disabled="" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="translation">{{'LBL_FRONT_TRANSLATION'|translate}}</label>
                                    <input type="text" id="tableName" class="form-control" name="translation" value="{{value}}" required />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">{{'LBL_FRONT_SAVE_CHANGES'|translate}}</button>
                        <a href="{{path('admin_front_translation')}}" class="btn btn-default">{{'LBL_FRONT_CLOSE'|translate}}</a>
                    </div>
                </div>
             </form>
          </div>      

        </div>       
      </div>
    </div>
</div>
    <form id="frm-edit-trans" method="POST" action="{{path('admin_front_translation_edit')}}">
        <input type="hidden" name="lan"/>
        <input type="hidden" name="lan_code"/>
        <input type="hidden" name="lan_value"/>
    </form>

 <!-- End Modal -->
{% endblock %}

{% block javascript %}
<!-- Datatables -->
<script src="{{ asset('template/vendors') }}/datatables.net/js/jquery.dataTables.min.js"></script>
<!-- Datatables -->
<script>
    var video_details_url = "{{path('admin_video_url_details',{'slug':'1'})}}";
    $('.chooseLang').click(function(){
        var $self = $(this);
//        alert($self.attr('data-lang'));
        $('input[name="lan"]').val($self.attr('data-lang'));
        $('input[name="lan_code"]').val($self.attr('data-code'));
        $('input[name="lan_value"]').val($self.attr('data-value'));
        $('#frm-edit-trans').submit();

    });
    $('.chooseLang').click(function(){
        var $self = $(this);
        $('#frm-sel-lang').submit();
    });
</script>
<script src="{{ asset('js') }}/front-translation.js"></script>
{% endblock %}