{% extends "::adminTemplate.html.twig" %}
{% block title %}Front-end Translation{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>{{'LBL_FRONT_END_TRANSLATION'|translate}}</h3>
  </div>

</div>
<div class="clearfix"></div>
<form method="POST" id="frm-sel-lang" action="{{path('admin_front_translation')}}">
<input type="hidden" name="sel_lang">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="btn-group" data-toggle="buttons">
            <button name="lang-options" class="btn {%if lang=='en'%}btn-default{%endif%} lang-options" value="en"> English</button>
            <button name="lang-options" class="btn {%if lang=='cn'%}btn-default{%endif%} lang-options" value="cn"> Chinese</button>
            <button name="lang-options" class="btn {%if lang=='kr'%}btn-default{%endif%} lang-options" value="kr"> Korean</button>
            <button name="lang-options" class="btn {%if lang=='jp'%}btn-default{%endif%} lang-options" value="jp"> Japanese</button>
        </div>
    </div>
</div>
</form>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">

            <div class="col-sm-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
            {% endfor %}


            {% for flashMessage in app.session.flashbag.get('error') %}
            <!-- Saved message -->
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for item in flashMessage %}
                    {{ item.message }}<br/>
                {% endfor %}
            </div>
            {% endfor %}
            
                <div class="table-responsive">
                    <p class="text-muted font-13 m-b-30 text-right" style="display: none;">
                        <a type="button" class="btn btn-primary" href="{{path('admin_video_url_new')}}">{{'LBL_FRONT_NEW_TRANSLATION'|translate}}</a>
                    </p>
                
                <table id="datatable" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>{{'LBL_FRONT_CODE'|translate}}</th>
                      <th>{{'LBL_FRONT_TRANSLATION'|translate}}</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    {{data|raw}}
                  </tbody>
                </table>
              </div>
          </div>      

      </div>       
    </div>
  </div>
</div>
<form id="frm-edit-trans" method="POST" action="{{path('admin_front_translation_edit')}}">
    <input type="hidden" name="lan"/>
    <input type="hidden" name="lan_code"/>
    <input type="hidden" name="lan_value"/>
</form>

{% endblock %}

{% block javascript %}
<!-- Datatables -->
<script src="{{ asset('template/vendors') }}/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="{{ asset('template/vendors') }}/jszip/dist/jszip.min.js"></script>
<script src="{{ asset('template/vendors') }}/pdfmake/build/pdfmake.min.js"></script>
<script src="{{ asset('template/vendors') }}/pdfmake/build/vfs_fonts.js"></script>

<!-- Datatables -->
<script src="{{ asset('js') }}/bootbox.min.js"></script>
<script>
    var delete_url = "{{path('admin_front_translation_delete')}}";
    var delete_msg = "{{'LBL_FRONT_DELETE_MESSAGE'|translate}}";
    var delete_ok = "{{'LBL_FRONT_DELETE_OK'|translate}}";
    
    var copy = "{{'LBL_SUMMARY_COPY'|translate}}";
    var csv = "{{'LBL_SUMMARY_CSV'|translate}}";
    var excel = "{{'LBL_SUMMARY_EXCEL'|translate}}";
    var print = "{{'LBL_SUMMARY_PRINT'|translate}}";
    var search = "{{'LBL_DATATABLE_SEARCH'|translate}}";
    var previous = "{{'LBL_DATATABLE_PREVIOUS'|translate}}";
    var next = "{{'LBL_DATATABLE_NEXT'|translate}}";
    var showing = "{{'LBL_DATATABLE_SHOWING'|translate}}";
    var to = "{{'LBL_DATATABLE_TO'|translate}}";
    var of = "{{'LBL_DATATABLE_OF'|translate}}";
    var entries = "{{'LBL_DATATABLE_ENTRIES'|translate}}";
    var empty = "{{'LBL_DATATABLE_EMPTY'|translate}}";
    var show = "{{'LBL_DATATABLE_SHOW'|translate}}";
    var empty_record = "{{'LBL_DATATABLE_EMPTY_RECORD'|translate}}";
</script>
<script src="{{ asset('js') }}/front-translation.js"></script>
{% endblock %}