{% extends "::adminTemplate.html.twig" %}
{% block title %}Dashboard{%endblock%}
{% block stylesheets %}

{% endblock %}

{% block body %}
  <!-- top tiles -->
  <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-users"></i> {{'LBL_DASHBOARD_TOTAL_VISITORS'|translate}}</span>
      <div class="count">{{count}}</div>
      <small>{{'LBL_DASHBOARD_DATE_FROM'|translate}}: <i class="green">{{dateFrom}} {{'LBL_DASHBOARD_TO'|translate}} {{dateTo}}</i></small>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-globe"></i> {{'LBL_DASHBOARD_TOTAL_VISITOR_BY_BROWSER'|translate}}</span>
      <div class="count">{{browserCount}}</div>
      <small>{{'LBL_DASHBOARD_DATE_FROM'|translate}}: <i class="green">{{dateFrom}} {{'LBL_DASHBOARD_TO'|translate}} {{dateTo}}</i></small>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-tablet"></i> {{'LBL_DASHBOARD_TOTAL_VISITOR_BY_DEVICE'|translate}}</span>
      <div class="count">{{deviceCount}}</div>
      <small>{{'LBL_DASHBOARD_DATE_FROM'|translate}}: <i class="green">{{dateFrom}} {{'LBL_DASHBOARD_TO'|translate}} {{dateTo}}</i></small>
    </div>
  </div>
  <!-- /top tiles -->

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
          <h2>{{'LBL_DASHBOARD_BROWSER_USAGE'|translate}}<small>{{'LBL_DASHBOARD_DATE_FROM'|translate}}: <i class="green">{{dateFrom}} {{'LBL_DASHBOARD_TO'|translate}} {{dateTo}}</i></small></h2>
          <ul class="nav panel_toolbox" style="min-width: 0px;">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="" style="width:100%">
            <tr>
              <th style="width:37%;">
                <p></p>
              </th>
              <th>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <p class="">{{'LBL_DASHBOARD_DEVICE'|translate}}</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <p class="">{{'LBL_DASHBOARD_PROGRESS'|translate}}</p>
                </div>
              </th>
            </tr>
            <tr>
              <td>
                <canvas id="canvas1" height="140" width="250px" style="margin: 15px 10px 10px 0"></canvas>
              </td>
              <td>
                <table class="tile_info">
                  <tr>
                    <td>
                      <p><i class="fa fa-square blue"></i>Chrome </p>
                    </td>
                    <td>{{Chrome|raw}}%</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square green"></i>Firefox </p>
                    </td>
                    <td>{{Mozilla|raw}}%</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square purple"></i>Safari </p>
                    </td>
                    <td>{{Safari|raw}}%</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square red"></i>Handheld Browser </p>
                    </td>
                    <td>{{Handheld|raw}}%</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
          <h2>{{'LBL_DASHBOARD_DEVICE_USAGE'|translate}}<small>{{'LBL_DASHBOARD_DATE_FROM'|translate}}: <i class="green">{{dateFrom}} {{'LBL_DASHBOARD_TO'|translate}} {{dateTo}}</i></small></h2>
          <ul class="nav panel_toolbox" style="min-width: 0px;">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="" style="width:100%">
            <tr>
              <th style="width:37%;">
                <p></p>
              </th>
              <th>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <p class="">{{'LBL_DASHBOARD_DEVICE'|translate}}</p>
                 </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <p class="">{{'LBL_DASHBOARD_PROGRESS'|translate}}</p>
                </div>
              </th>
            </tr>
            <tr>
              <td>
                <canvas id="canvas2" height="140" width="250px" style="margin: 15px 10px 10px 0"></canvas>
              </td>
              <td>
                <table class="tile_info">
                  <tr>
                    <td>
                      <p><i class="fa fa-square blue"></i>iPhone </p>
                    </td>
                    <td>{{iPhone|raw}}%</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square green"></i>iPad </p>
                    </td>
                    <td>{{iPad|raw}}%</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square purple"></i>Android </p>
                    </td>
                    <td>{{Android|raw}}%</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

  <!--GRAPH-->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{'LBL_DASHBOARD_WEEKLY_USAGE'|translate}}<small>{{'LBL_DASHBOARD_PER_DEVICE'|translate}}</small></h2>
          <ul class="nav panel_toolbox" style="min-width: 0px;">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <canvas id="mybarChart" width="1607px" height="450px"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!--/GRAPH-->

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{'LBL_DASHBOARD_VISITOR_LOCATION'|translate}} <small>{{'LBL_DASHBOARD_GEO_PRESENTATION'|translate}}</small><small>{{'LBL_DASHBOARD_DATE_FROM'|translate}}: <i class="green">{{dateFrom}} {{'LBL_DASHBOARD_TO'|translate}} {{dateTo}}</i></small></h2>
          <ul class="nav panel_toolbox" style="min-width: 0px;">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">
            <div class="col-md-4 hidden-small">
              <h2 class="line_30">{{'LBL_DASHBOARD_COUNTRY_CODE'|translate}}</h2>
              <div class="ScrollStyle">
                <table class="countries_list">
                  <tbody>
                  {{countryResult|raw}}
                  </tbody>
                </table>
              </div>
            </div>

            <div id="world-map-gdp" class="col-md-4 col-sm-12 col-xs-12" style="height:230px;"></div>
            <div class="col-md-4 hidden-small">
              <h2 class="line_30">{{'LBL_DASHBOARD_TOP_3_COUNTRIES'|translate}}</h2>
              <div class="ScrollStyle">
                <table class="countries_list">
                  <tbody>
                  {{clientResult|raw}}
                  </tbody>
                </table>
          <!--/GRAPH-->


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel result">
        <div class="x_title">
          <h2>{{'LBL_DASHBOARD_BLACKLIST'|translate}} <small>{{'LBL_DASHBOARD_BY_DEVICE'|translate}}</small></h2>
          <ul class="nav panel_toolbox" style="min-width: 0px;">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="table-responsive ScrollStyle blacklist">
            <table id="datatable" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>{{'LBL_DASHBOARD_ID'|translate}}</th>
                <th>{{'LBL_DASHBOARD_CODE'|translate}}</th>
                <th>{{'LBL_DASHBOARD_DEVICE_NAME'|translate}}</th>
              </tr>
              </thead>

              <tbody>
              {{result|raw}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block javascript %}
  <!-- gauge.js -->
  <script src="{{ asset('template/vendors') }}/gauge.js/dist/gauge.min.js"></script>
  <!-- JQVMap -->
  <script src="{{ asset('template/vendors') }}/jqvmap/dist/jquery.vmap.js"></script>
  <script src="{{ asset('template/vendors') }}/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="{{ asset('template/vendors') }}/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

  <!-- gauge.js -->

  <script src="{{ asset('template/vendors') }}/Flot/jquery.flot.js"></script>
  <script src="{{ asset('template/vendors') }}/Flot/jquery.flot.pie.js"></script>
  <script src="{{ asset('template/vendors') }}/Flot/jquery.flot.time.js"></script>
  <script src="{{ asset('template/vendors') }}/Flot/jquery.flot.stack.js"></script>
  <script src="{{ asset('template/vendors') }}/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="{{ asset('template/vendors') }}/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="{{ asset('template/vendors') }}/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="{{ asset('template/vendors') }}/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script>
    var opts = {
      lines: 12,
      angle: 0,
      lineWidth: 0.4,
      pointer: {
        length: 0.75,
        strokeWidth: 0.042,
        color: '#1D212A'
      },
      limitMax: 'false',
      colorStart: '#1ABC9C',
      colorStop: '#1ABC9C',
      strokeColor: '#F0F3F3',
      generateGradient: true
    };
    var target = document.getElementById('foo'),
            gauge = new Gauge(target).setOptions(opts);

    gauge.maxValue = 6000;
    gauge.animationSpeed = 32;
    gauge.set(3200);
    gauge.setTextField(document.getElementById("gauge-text"));
  </script>
  <!-- /gauge.js -->

  <!-- JQVMap -->
  <script>
    $(document).ready(function(){
      var sample_data1 = '{{cntCountry|json_encode()}}';

      var sample_data = sample_data1.replace(/&quot;/g, '\"');
      $('#world-map-gdp').vectorMap({
        map: 'world_en',
        backgroundColor: null,
        color: '#f5f5f5',
        hoverOpacity: 0.7,
        selectedColor: '#666666',
        enableZoom: true,
        showTooltip: true,
        values: JSON.parse(sample_data),
        scaleColors: ['#d0d9f3', '#003bed'],
        normalizeFunction: 'polynomial'
      });
    });
  </script>
  <!-- /JQVMap -->
  <!-- Doughnut Chart -->
  <script>
    $(document).ready(function(){
      var options = {
        legend: false,
        responsive: false
      };

      new Chart(document.getElementById("canvas1"), {
        type: 'doughnut',
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: [
            "Chrome",
            "Firefox",
            "Safari",
            "Handheld Browser"
          ],
          datasets: [{
            data: [{{Chrome}}, {{Mozilla}}, {{Safari}}, {{Handheld}}],
            backgroundColor: [
              "#3498DB",
              "#26B99A",
              "#9B59B6",
              "#E74C3C"


            ],
            hoverBackgroundColor: [
              "#49A9EA",
              "#36CAAB",
              "#B370CF",
              "#E95E4F"
            ]
          }]
        },
        options: options
      });

      new Chart(document.getElementById("canvas2"), {
        type: 'doughnut',
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: [
            "iPhone",
            "iPad",
            "Android"
          ],
          datasets: [{
            data: [{{iPhone}}, {{iPad}}, {{Android}}],
            backgroundColor: [
              "#3498DB",
              "#26B99A",
              "#9B59B6"

            ],
            hoverBackgroundColor: [
              "#49A9EA",
              "#36CAAB",
              "#B370CF"
            ]
          }]
        },
        options: options
      });

    });
  </script>
  <!-- /Doughnut Chart -->

  <script src="{{ asset('js') }}/dashboard.js"></script>
  <script>

    var day1_iPhone = '{{ day1.iPhone }}';
    var day1_iPad = '{{ day1.iPad }}';
    var day1_android = '{{ day1.android }}';

    var day2_iPhone = '{{ day2.iPhone }}';
    var day2_iPad = '{{ day2.iPad }}';
    var day2_android = '{{ day2.android }}';

    var day3_iPhone = '{{ day3.iPhone }}';
    var day3_iPad = '{{ day3.iPad }}';
    var day3_android = '{{ day3.android }}';

    var day4_iPhone = '{{ day4.iPhone }}';
    var day4_iPad = '{{ day4.iPad }}';
    var day4_android = '{{ day4.android }}';

    var day5_iPhone = '{{ day5.iPhone }}';
    var day5_iPad = '{{ day5.iPad }}';
    var day5_android = '{{ day5.android }}';

    var day6_iPhone = '{{ day6.iPhone }}';
    var day6_iPad = '{{ day6.iPad }}';
    var day6_android = '{{ day6.android }}';

    var day7_iPhone = '{{ day7.iPhone }}';
    var day7_iPad = '{{ day7.iPad }}';
    var day7_android = '{{ day7.android }}';

    var iphone_user = '{{'LBL_DASHBOARD_IPHONE_USER'|translate}}';
    var ipad_user = '{{'LBL_DASHBOARD_IPAD_USER'|translate}}';
    var android_user = '{{'LBL_DASHBOARD_ANDROID_USER'|translate}}';
  </script>
  <!-- /Flot -->
{%endblock%}

