{# empty Twig template #}
{% extends "::adminTemplate.html.twig" %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<h2>{{'LBL_PROFILE_USER_PROFILE'|translate}}</h2><br>      
    <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">    
    <form method="post" action="{{path('admin_user_update')}}">
        <input type="hidden" name="edit" />
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="table">{{'LBL_PROFILE_FIRST_NAME'|translate}}</label>
          <input type="text" class="form-control cleanup" name="fname" value="{{app.session.get('fname')}}" required/>
        </div>
    </div>  
    <div class="col-md-6 col-sm-6 col-xs-12">    
        <div class="form-group">
          <label for="videoUrl">{{'LBL_PROFILE_LAST_NAME'|translate}}</label>
          <input type="text" class="form-control cleanup" name="lname" value="{{app.session.get('lname')}}" required/>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">    
        <div class="form-group">
          <label for="device">{{'LBL_PROFILE_EMAIL'|translate}}</label>
          <input type="email" class="form-control cleanup" name="email" value="{{app.session.get('email')}}" required="required"/>
        </div>
    </div>    
    <div class="col-md-6 col-sm-6 col-xs-12">    
        <div class="form-group">
          <label for="device">{{'LBL_PROFILE_CHANGE_PASSWORD'|translate}}</label>
          <input type="password" class="form-control cleanup" name="password" placeholder="{{'LBL_PROFILE_PASSWORD_PLACEHOLDER'|translate}}" value="">
        </div>
    </div>    
        <input type="hidden" name="id" value="{{app.session.get('id')}}">
        <input type="hidden" name="status" value="{{app.session.get('status')}}">
        <button type="submit" class="btn btn-primary">{{'LBL_PROFILE_SAVE_CHANGES'|translate}}</button>
        <a class="btn btn-default" href="{{path('admin_dashboard')}}">{{'LBL_PROFILE_CLOSE'|translate}}</a>
    </form>
    </div>
    </div>
{% endblock %}{# empty Twig template #}

{% block javascript %}
<script>
    (function($) {
    $(document).ready(function() {
        $('input.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
    });
})(jQuery);
</script>    
{% endblock %}