{% extends "::adminTemplate.html.twig" %}
{% block title %}Video Urls{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>{{'LBL_VIDEO_EDIT_VIDEO_URL'|translate}}</h3>
  </div>

</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_content">

              <div class="col-sm-12">
                  {% for flashMessage in app.session.flashbag.get('success') %}
              <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ flashMessage }}
              </div>
              {% endfor %}
              </div>        

              {% for flashMessage in app.session.flashbag.get('error') %}
              <!-- Saved message -->
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {% for item in flashMessage %}
                      {{ item.message }}<br/>
                  {% endfor %}
              </div>
              {% endfor %}
               <!-- start form for validation -->
              <form method="POST" action="{{path('admin_video_url_save')}}">
              <input type="hidden" name="edit"/>
              <input type="hidden" name="id" value="{{id}}"/>
              <div class="row"> 
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="table">{{'LBL_VIDEO_SELECT_TABLE'|translate}}</label>
                        <select id="table" class="form-control" name="table" required>
                           <option value="">{{'LBL_VIDEO_CHOOSE'|translate}}</option>
                          {{roomType|raw}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="table">{{'LBL_VIDEO_SELECT_VIDEO_ENCODER'|translate}}</label>
                        <select id="table" class="form-control" name="video_encoder" required>
                           <option  {%if details.videoEncoder == '' %}selected{%endif%} value="">{{'LBL_VIDEO_CHOOSE'|translate}}</option>
                           <option  {%if details.videoEncoder == 'Wowza' %}selected{%endif%} value="Wowza">Wowza</option>
                           <option {%if details.videoEncoder == 'Adobe' %}selected{%endif%} value="Adobe">Adobe</option>
                        </select>
                    </div>     
                    <div class="form-group">
                        <label for="videoUrl">{{'LBL_VIDEO_VIDEO_URL'|translate}}</label>
                        <input type="text" id="videoUrl" class="form-control cleanup" name="videoUrl" value="{{details.url}}" required />
                    </div>
                     <div class="form-group">
                        <label for="device">{{'LBL_VIDEO_DEVICE_TYPE'|translate}}</label>
                        <select id="device" class="form-control" name="device" required>
                          <option value="">{{'LBL_VIDEO_CHOOSE'|translate}}</option>
                          {% for dev in deviceType %}
                            <option {%if dev.id == details.deviceTypeId %}selected{%endif%} value="{{dev.id}}">{{dev.description}}</option>
                          {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="country">{{'LBL_VIDEO_COUNTRY'|translate}}</label>
                        <input type="text" id="country" class="form-control cleanup" name="country" value="{{details.country}}" data-parsley-trigger="change"/>
                    </div> 
                    <div>
                        <button type="submit" class="btn btn-primary">{{'LBL_VIDEO_SAVE_CHANGES'|translate}}</button>
                        <a href="{{path('admin_video')}}" class="btn btn-default">{{'LBL_VIDEO_CLOSE'|translate}}</a>
                    </div>
                </div>
              </div>
             </form>
          </div>      

        </div>       
      </div>
    </div>
</div>

<!-- End Modal -->
{% endblock %}

{% block javascript %}
<!-- Datatables -->
<script src="{{ asset('template/vendors') }}/datatables.net/js/jquery.dataTables.min.js"></script>
<!-- Datatables -->
<script>
    var video_details_url = "{{path('admin_video_url_details',{'slug':'1'})}}";
</script>
<script src="{{ asset('js') }}/video.js"></script>
<script>
    (function($) {
    $(document).ready(function() {
        $('input.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
    });
})(jQuery);
</script> 
{% endblock %}