{% extends "::adminTemplate.html.twig" %}
{% block title %}API Server{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>{{'LBL_SERVER_API_SERVER'|translate}}</h3>
  </div>

</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_content">

              <div class="col-sm-12">
                  {% for flashMessage in app.session.flashbag.get('success') %}
              <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ flashMessage }}
              </div>
              {% endfor %}
              </div>        

              {% for flashMessage in app.session.flashbag.get('error') %}
              <!-- Saved message -->
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {% for item in flashMessage %}
                      {{ item.message }}<br/>
                  {% endfor %}
              </div>
              {% endfor %}
               <!-- start form for validation -->
              <form method="POST" action="{{path('admin_api_server')}}">
              <input type="hidden" name="save" />
              <input type="hidden" name="id" value="{{id.id}}"/> 
              <div class="row"> 
                <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="translation">{{'LBL_SERVER_SERVER_URL'|translate}}</label>
                                    <input type="text" id="url" class="form-control" name="url" value="{{id.url}}" required />
                                </div>

                                <div class="form-group">
                                    {#<label for="translation">Password Hash Generator API</label>#}
                                    <label for="translation">{{'LBL_SERVER_HASH_GENERATOR'|translate}}</label>
                                    <input type="text" id="url" class="form-control" name="pass_gen_url" value="{{id.pass_gen_api}}" required />
                                </div>

                                <div class="form-group">
                                    {#<label for="translation">Translation API</label>#}
                                    <label for="translation">{{'LBL_SERVER_TRANSLATION_API'|translate}}</label>
                                    <input type="text" id="url" class="form-control" name="front_trans_url" value="{{id.front_trans_api}}" required />
                                </div>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">{{'LBL_SERVER_SAVE_CHANGES'|translate}}</button>
                    </div>
                </div>
             
             </form> 
            </div>
          </div>      

        </div>       
      </div>

<!-- End Modal -->
{% endblock %}

{% block javascript %}
{% endblock %}