/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2016, 11:26:33 AM
    Author     : Poli
*/

.modal-dialog {
    margin-top: 17%;
}

.bootbox-body {
    font-size: 20px;
    padding: 3%;
}

.ScrollStyle
{
    max-height: 150px;
    overflow-y: auto;
    overflow-x: auto;
}

.result {
    height: 320px;
}


.nav-md .container.body .col-md-3.left_col{
    height: 1700px !important;
}

.lang-selected{
    border-bottom: 3px solid #1ABB9C;
    border-radius: 5px;
}

.blacklist {
    max-height: 250px !important;
}