{% extends "::adminTemplate.html.twig" %}
{% block title %}Table Setting{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>{{'LBL_SETTING_ADD_NEW_TABLE'|translate}}</h3>
  </div>

</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_content">

              <div class="col-sm-12">
                  {% for flashMessage in app.session.flashbag.get('success') %}
              <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ flashMessage }}
              </div>
              {% endfor %}
              </div> 
              
              <div class="col-sm-12">
                  {% for flashMessage in app.session.flashbag.get('danger') %}
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ flashMessage }}
              </div>
              {% endfor %}
              </div>

              {% for flashMessage in app.session.flashbag.get('error') %}
              <!-- Saved message -->
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {% for item in flashMessage %}
                      {{ item.message }}<br/>
                  {% endfor %}
              </div>
              {% endfor %}
               <!-- start form for validation -->
              <form method="POST" action="{{path('admin_table_setting_add_process')}}">
              <input type="hidden" name="new"/>
              <div class="row"> 
                <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="code">{{'LBL_SETTING_TABLE_CODE'|translate}}</label>
                                    <input type="text" id="code" class="form-control" name="code" value="" required />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="tableName">{{'LBL_SETTING_TABLE_NAME'|translate}}</label>
                                    <input type="text" id="tableName" class="form-control" name="tableName" value="" required />
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="hallName">{{'LBL_SETTING_HALL'|translate}}</label>
                                    {#<input type="text" id="hallName" class="form-control" name="hallName" value="" required />#}
                                    <select id="hallname" name="hallName" class="form-control">
                                        <option value="">Choose..</option>
                                        <option value="Main Hall">Main Hall</option>
                                        <option value="International Hall">International Hall</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="shoe">{{'LBL_SETTING_SHOE_API_URL'|translate}}</label>
                                    <input type="text" id="shoe" class="form-control" name="shoe" value="" />
                                </div>
                            </div>
                           
                        </div>
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="vip" class="form-group">
                                    <span style="height: 20px;"></span>
                                    <input type="checkbox"  name="isVIP" value="0" {#{%if tableSetting.vip ==1%}checked {%endif%}#}/> {{'LBL_SETTING_IS_VIP'|translate}}
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="x_panel">
                                  <div class="x_title">
                                    <h2 class="green">{{'LBL_SETTING_ANNOUNCEMENT'|translate}}</h2>
                                    
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="x_content">
                                   {%for an in announcement %}  
                                        <div class="form-group">  
                                            <label for="message"><img width="20px;" src="{{ asset('images/flags') }}/{{an.code}}.png"/> {{an.description}}</label>
                                            <input type="hidden"  name="msgId[]" value="{{an.id}}" required />
                                            <input type="text"  class="form-control" name="msg[]" value="" />
                                        </div>
                                    {%endfor%}
                                  </div>
                                </div>
                              </div>

                           
                        </div>
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="betMin">{{'LBL_SETTING_BET_MIN'|translate}}</label>
                                    <input type="text" id="betMin" class="form-control cleanup" name="betMin" value="" required />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="betMin">{{'LBL_SETTING_BET_MAX'|translate}}</label>
                                    <input type="text" id="betMax" class="form-control cleanup" name="betMax" value="" required />
                                </div>
                            </div>
                            
                        </div>
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="tieMin">{{'LBL_SETTING_TIE_MIN'|translate}}</label>
                                    <input type="text" id="tieMin" class="form-control cleanup" name="tieMin" value="" required />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="tieMin">{{'LBL_SETTING_TIE_MAX'|translate}}</label>
                                    <input type="text" id="tieMax" class="form-control cleanup" name="tieMax" value="" required />
                                </div>
                            </div>
                            
                        </div>
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="pairMin">{{'LBL_SETTING_PAIR_MIN'|translate}}</label>
                                    <input type="text" id="pairMin" class="form-control cleanup" name="pairMin" value="" required />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="pairMin">{{'LBL_SETTING_PAIR_MAX'|translate}}</label>
                                    <input type="text" id="pairMax" class="form-control cleanup" name="pairMax" value="" required />
                                </div>
                            </div>
                            
                        </div>
                        <button type="submit" class="btn btn-primary">{{'LBL_SETTING_SAVE'|translate}}</button>
                        <a href="{{path('admin_table_setting')}}" class="btn btn-default">{{'LBL_SETTING_CLOSE'|translate}}</a>
                    </div>
                </div>
             </form>
          </div>      

        </div>       
      </div>
    </div>
</div>

<!-- End Modal -->
{% endblock %}

{% block javascript %}
<!-- Datatables -->
<script src="{{ asset('template/vendors') }}/datatables.net/js/jquery.dataTables.min.js"></script>
<!-- Datatables -->
<script>
    (function($) {
    $(document).ready(function() {
        $('input.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
        $('textarea.cleanup').blur(function() {
            var value = $.trim( $(this).val() );
            $(this).val( value );
        });
    });
})(jQuery);

$(".cleanup").on("input", function(evt) {
   var self = $(this);
   self.val(self.val().replace(/[^0-9\.]/g, ''));
   if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) 
   {
     evt.preventDefault();
   }
 });

    $('#hallname').change(function() {
        if($("#hallname").val() == "International Hall"){
            $("#vip").hide();
        }
        else{
            $("#vip").show();
        }

    });
</script> 
{% endblock %}{# empty Twig template #}
