{% extends "::adminTemplate.html.twig" %}
{% block title %}Web Application{%endblock%}
{% block stylesheets %}


{% endblock %}

{% block body %}
<div class="page-title">
  <div class="title_left">
    <h3>{{'LBL_LOGINHISTORY_NATIVE_APPLICATION'|translate}}</h3>
  </div>
</div>    
<!--FILTER-->
<div class="row">
    <div class="col-lg-7 col-md-7 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
              <h2>{{'LBL_DETAILED_FILTER'|translate}}</h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width:0px;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
             <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 filter-label" for="last-name">{{'LBL_LOGINHISTORY_DATE_FROM'|translate}}
                        </label>
                        <div class="control-group">
                                <div class="controls">
                                  <div class="col-md-5 col-sm-5 col-xs-12 xdisplay_inputx form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" id="dateFrom" placeholder="Date From" aria-describedby="inputSuccess2Status4" maxlength="10"> 
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>

                                  </div>
                                </div>

                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-3" style="width: 200px;">
                          <div class="col-lg-6"> 
                            <select class="form-control" name="hourFrom">
                              {% for i in 00..23 %}
                                    {{i|length}}
                                  {%if i|length==1 %}
                                      <option value="{{'0'~i}}">{{'0'~i}}</option>   
                                  {%else%}
                                      <option value="{{i}}">{{i}}</option> 
                                  {%endif%}
                              {% endfor %}
                            </select>
                          </div>
                          <div class="col-lg-6" style="padding-top: 8px;">
                            <label>:00:00</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-3 filter-label" for="last-name">{{'LBL_LOGINHISTORY_DATE_TO'|translate}}
                        </label>
                        <div class="control-group">
                            <div class="controls">
                              <div class="col-md-5 col-sm-5 col-xs-12 xdisplay_inputx form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" id="dateTo" placeholder="Date To" aria-describedby="inputSuccess2Status4" maxlength="10">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                
                              </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-3" style="width: 200px;">
                          <div class="col-lg-6"> 
                            <select class="form-control" name="hourTo">
                              {% for i in 00..23 %}
                                    {{i|length}}
                                  {%if i|length==1 %}
                                      <option value="{{'0'~i}}" {%if post.hour_from == '0'~i %}selected{%endif%}>{{'0'~i}}</option>   
                                  {%else%}
                                      <option value="{{i}}" {%if post.hour_from == i %}selected{%endif%}>{{i}}</option> 
                                  {%endif%}
                              {% endfor %}
                            </select>
                          </div>
                          <div class="col-lg-6" style="padding-top: 8px;">
                            <label>:59:59</label>
                          </div>
                        </div>
                         
                      </div>
                      
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary btnSubmit">{{'LBL_LOGINHISTORY_SUBMIT'|translate}}</button>
                          <button class="btn btn-primary btnToday">{{'LBL_LOGINHISTORY_TODAY'|translate}}</button>
                          <button class="btn btn-primary btnYesterday">{{'LBL_LOGINHISTORY_YESTERDAY'|translate}}</button>
                        </div>
                      </div>
                    </div>
                        <form id="frmFilter" method="POST" action="{{path('admin_login_history_nativeapp')}}">
                        <input type="hidden" name="btn_function">
                        <input type="hidden" name="fltr_date_from">
                        <input type="hidden" name="fltr_date_to">
                        <input type="hidden" name="fltr_hour_from">
                        <input type="hidden" name="fltr_hour_to">
                        </form>
            </div>
        </div>
    </div>
</div>

<!--FILTER-->
        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                 
                  <div class="x_content">
                      <div class="col-sm-12">
                            {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ flashMessage }}
                        </div>
                        {% endfor %}
                    
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                {#<p class="text-muted font-13 m-b-30 text-right">
                                    <a href="{{path('admin_user_add')}}"><button type="button" data-toggle="modal" class="btn btn-primary" data-target=".new-user">{{'LBL_USERS_ADD_NEW_USER'|translate}}</button></a>
                                </p>#}
                            <table id="datatable" class="table table-striped dt-responsive" cellspacing="0" width="100%">
                              <thead>
                                <tr>
                                      <th class="hidden">id</th>
                                      <th>{{'LBL_LOGINHISTORY_DEVICE_TYPE'|translate}}</th>
                                      <th>{{'LBL_LOGINHISTORY_UNIQUE_ID'|translate}}</th>
                                      <th>{{'LBL_LOGINHISTORY_DATE_TIME'|translate}}</th>
                                      <th>{{'LBL_LOGINHISTORY_IP_ADDRESS'|translate}}</th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                {{result|raw}}
                              </tbody>
                            </table>
                          </div>
                      </div>      
                      
                  </div>       
                </div>
              </div>
           </div> 
        </div>

{% endblock %}{# empty Twig template #}

{% block javascript %}
<!-- Datatables -->
<script src="{{ asset('template/vendors') }}/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="{{ asset('template/vendors') }}/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="{{ asset('template/vendors') }}/jszip/dist/jszip.min.js"></script>
<script src="{{ asset('template/vendors') }}/pdfmake/build/pdfmake.min.js"></script>
<script src="{{ asset('template/vendors') }}/pdfmake/build/vfs_fonts.js"></script>

<!-- Datatables -->

<script>
    var dateFrom = "{{post.date_from}}";
    var dateTo = "{{post.date_to}}";
    var hourFrom = "{{post.hour_from}}";
    var hourTo = "{{post.hour_to}}";
    
    var copy = "{{'LBL_SUMMARY_COPY'|translate}}";
    var csv = "{{'LBL_SUMMARY_CSV'|translate}}";
    var excel = "{{'LBL_SUMMARY_EXCEL'|translate}}";
    var print = "{{'LBL_SUMMARY_PRINT'|translate}}";
    var search = "{{'LBL_DATATABLE_SEARCH'|translate}}";
    var previous = "{{'LBL_DATATABLE_PREVIOUS'|translate}}";
    var next = "{{'LBL_DATATABLE_NEXT'|translate}}";
    var showing = "{{'LBL_DATATABLE_SHOWING'|translate}}";
    var to = "{{'LBL_DATATABLE_TO'|translate}}";
    var of = "{{'LBL_DATATABLE_OF'|translate}}";
    var entries = "{{'LBL_DATATABLE_ENTRIES'|translate}}";
    var empty = "{{'LBL_DATATABLE_EMPTY'|translate}}";
    var show = "{{'LBL_DATATABLE_SHOW'|translate}}";
    var empty_record = "{{'LBL_DATATABLE_EMPTY_RECORD'|translate}}";
</script>
<script src="{{ asset('js') }}/nativeApp.js"></script> 

<script>
    function limitText(field, maxChar){
    $(field).attr('maxlength',maxChar);
}
</script>
{% endblock %}
{# empty Twig template #}
